<details {{ .Scratch.Get "details" }} class="f6 fw7 input-reset">
  
    {{ with .Params.tags }}
  <dl class="f6 lh-copy">
    <dt class="fw7">Tags:</dt>
    <dd class="fw5 ml0">{{ range . }} <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}</dd>
  </dl>
  {{ end }}
  <dl class="f6 lh-copy">
    <dt class="fw7">See Also:</dt>
    {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
    <dd class="fw5 ml0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></dd>
    {{ end }}
  </dl>
</details>
